html, body {
    height: 100%;
    width: 100%;
}

html, body, #root {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(233, 233, 233);
}

#root {
    display: flex;
    justify-content: center;
}

#root div {
    width: 100%;
}

#home, #pageSingIn {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
}
#home .img-portada, #pageSingIn .img-portada{
  background-image: url("../img/Trueque-CriptoTendencia.jpg");
    background-repeat: no-repeat;
    width: 700px;
    height: 400px;
}

#root div #boxsingIn {
    width: auto;
}

#boxsingIn, #formSingIn{
    border-radius: 10px;
    width: 280px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #707070;
    background-color: #f6f6f6;
    align-items: center;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
}


.logo {
    width: 220px;
    height: 70px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login {
    width: 220px;
    height: 30px;
    margin-top:10px;
    font-size: 17px;
}

button.login {
    background-color: #82D7F6;
    border: 1px solid #0377FB;
    color: white;
    font-weight: bold;
}

#btnGoogle {
    text-align: center;
    border: none;
    font-weight: bold;
}

.linkgoogle {
    text-decoration: none;
    color: black;
}

.icon {
    width: 15px;
    height: 15px;
    margin-right: 5px
}

#home button {
border: none;
color: #0022FF;
font-weight: bold;
font-size: 17px;
}

/*  PROFILE   */
#section-father{
    display: flex;
    justify-content: center;
    width: 100%;
}

#section-father .posts form {
    margin: 18px 0px 23px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#section-father .posts form button {
    width: 85px;
    height: 30px;
    margin-top: 5px;
    background-color: #0377FB;
    border: 1px solid #82D7F6;
    color: white;
    font-weight: bold;
}

.posts {
    width: 600px;
}

#post span {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid silver;
    padding: 5px 2px 2px 5px
}

#root div .fotoSpan, #root div .nombreSpan{
    width: auto;
}

#root div .nombreSpan{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#root div .nombreSpan p{
    margin: 0px;
    padding: 0px;
}

#root div .nombreSpan p:first{
    font-size: 12px;
    font-weight: bold;
}

h2 {
    color:#1D1E20;
    font-weight: bold;
}

#btnLike, #btnDelete {
    width: 20px;
    height: 20px;
}

#btnsum, #btnDeletePost{
    display: flex;
    flex-direction: row;
    border: none;
    background-color: white;
}

#btnsum span{
margin: 0;
border: none;
}

.perfilFoto {
    width: 50px;
    border-radius: 30px;
}
 
.encabezadoPost{
    display: flex;
}

#nombreUsuario{
    font-size: 17px;
    margin-right: 6px;
}

.cuadroEscribir{
    background-color: white;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px silver;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}

.botones {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 5px 0;
}

.botones button {
    margin-left: 5px;
}


.divBaner{
    display: flex;
    background: #1D1E20;
    justify-content: space-between;
}

.baner{
    width: 200px;
    height: 80px;
    margin-left: 10px;
}

.profilePhoto {
    height: 70px;
    border-radius: 50px;
    align-items: end;
}

.nameBaner {
    font-weight: bold;
    color: #8d8d8d;
    margin-right: 10px;
}

#root .nombreFoto, .return {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: auto;
}

.nameClouse {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.cuadroTextarea {
    width: 580px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px silver;
    height: 60px;
    border: 1px solid #707070;
    padding: 8px 1px 1px 8px;
}

.cuadroTextarea:focus {
    outline:none;
}

.return {
    margin-right: 5px;
    margin-bottom: 5px;
}

/*---------CONOCENOS----------*/
#conocenos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.caja-conocenos {
    margin: 20px 20px 20px 20px;
}

.caja-conocenos img {
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

.caja-conocenos p {
   display: block;
   font-size: 18px;
}

.caja-conocenos h1 {
    font-family: 'Luckiest Guy', cursive;
    color: black
 }

.selloTrueke {
    width: 50px;
    height: 40px;
    float: right;
    margin-right: 10px;

}

 @media only screen and (max-width: 380px) {
    .caja-conocenos {
        flex-direction: row;
    }
    
   .caja-conocenos img {
        width: 100%;
        height: auto;
    }
    
  }

/* Sing In*/

.inputSingIn {
    width: 220px;
    height: 30px;
    margin-top:10px;
    font-size: 17px;
}
button.inputSingIn {
    background-color: #82D7F6;
    border: 1px solid #0377FB;
    color: white;
    font-weight: bold;
}

.cancel {
    color: red;
    margin-top: 10px;
}

/*---------Mensajes de Error----------*/
#mensajes{
    text-align: center;
    color:#bd168c;
    font-weight: bold;
}
  
#mensageSing{
    text-align: center;
    color:#bd168c;
    font-weight: bold;
}
