html, body {
    height: 100%;
    width: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
#home {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}
#home .img-portada{
  background-image: url("../img/Trueque-CriptoTendencia.jpg");
    background-repeat: no-repeat;
    width: 700px;
    height: 400px;
}
#boxsingIn{
    border-radius: 10px;
    width: 280px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #707070;
    background-color: #f6f6f6;
    align-items: center;
    font-size: 17px;
}
#boxsingIn img {
    width: 220px;
    height: 70px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.login {
    width: 220px;
    height: 30px;
    margin-top:10px;
    font-size: 17px;
}
button.login {
    background-color: #82D7F6;
    border: 1px solid #0377FB;
    color: white;
    font-weight: bold;
}
article.login {
    border-bottom: 1px solid #707070;
    margin-top: -3px;
    margin-bottom: 15px;
}
#google {
    text-align: center;
    border: none;
}
button {
border: none;
color: #0022FF;
font-weight: bold;
font-size: 17px;
}

/*PROFILE */
#section-father{
    display: flex;
    flex-direction: column;
background-color: indigo;
    /*background-color: #f5f6f6;*/
}
#section-father .profile{
    display: flex;
justify-content: center;    
background-color:#f3f5f3;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
    border: 1px solid;
    
}


#section-father .profile-image-container{
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
#section-father .profile-image-container .profilePhoto{
    
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid;
}
#section-father .profile-image-container h1{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 6;
}
#section-father .city{
    color:#777;
    font-size: 1.5rem;
    font-weight: 300;
}
#section-father .description{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}
#section-father .btn{
    padding: 1rem 2.5rem;
    background-color: #ffad33;
    
    margin: 1px solid;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}
#section-father .btn:hover{
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0,0,0, .2);
}
#section-father .btn:active{
    transform: translateY(0);
    box-shadow: none;
}
#section-father .posts{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: #dee1e3;*/
    background-color: red;
   
}
#section-father .posts-container{
    padding: 15px 10px;
    width: 600px;
    
    background-color: lightblue;
    border: 2px solid #333;
}
#section-father .posts-container h2{
    text-align: center;
}
#section-father textarea{
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    /*background-color: transparent;*/
    
    margin-bottom: 10px;
    resize: none;
    outline: none;
} 
#section-father .commentsContainer{
    background-color: green;
    border-style: solid;
   margin: 60px;
    width: 700px;
}
.commentsContainer h2{
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}
/*---------CONOCENOS----------*/
#conocenos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}
.caja-conocenos {
    margin: 20px 20px 20px 20px;
}

.caja-conocenos img {
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

.caja-conocenos p {
   display: block;
   font-size: 18px;
}

.caja-conocenos h1 {
    font-family: 'Luckiest Guy', cursive;
    color: black
 }


 @media only screen and (max-width: 380px) {
    .caja-conocenos {
        flex-direction: row;
    }
    
   .caja-conocenos img {
        width: 100%;
        height: auto;
    }
    
  }

/* Sing In*/

#pageSingIn {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
}

#formSingIn{
    border-radius: 10px;
    width: 280px;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #707070;
    background-color: #f6f6f6;
    align-items: center;
    font-size: 17px;
}
#formSingIn img {
    width: 220px;
    height: 70px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.inputSingIn {
    width: 220px;
    height: 30px;
    margin-top:10px;
    font-size: 17px;
}
button.inputSingIn {
    background-color: #82D7F6;
    border: 1px solid #0377FB;
    color: white;
    font-weight: bold;
}

#pageSingIn .img-portada{
    background-image: url("../img/Trueque-CriptoTendencia.jpg");
      background-repeat: no-repeat;
      width: 700px;
      height: 400px;
  }

/*---------Mensajes de Error----------*/
#mensajes{
    text-align: center;
    color:purple;
    font-weight: bold;

}
  
#mensageSing{
    text-align: center;
    color:purple;
    font-weight: bold;

}